## 6.1 	读写Excel文件

In [27]:
import pandas as pd
file_path = 'data\\'

### 6.1.2 	示例：读取全国总人口数据

In [28]:
df10 = pd.read_excel(file_path+'全国总人口数据.xls')
df10

,数据库：年度数据,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,时间：最近10年,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,指标,2018年,2017年,2016年,2015年,2014年,2013年,2012年,2011年,2010年,2009年
2,年末总人口(万人),139538,139008,138271,137462,136782,136072,135404,134735,134091,133450
3,男性人口(万人),71351,71137,70815,70414,70079,69728,69395,69068,68748,68647
4,女性人口(万人),68187,67871,67456,67048,66703,66344,66009,65667,65343,64803
5,城镇人口(万人),83137,81347,79298,77116,74916,73111,71182,69079,66978,64512
6,乡村人口(万人),56401,57661,58973,60346,61866,62961,64222,65656,67113,68938
7,注：1981年及以前人口数据为户籍统计数；1982、1990、2000、2010年数据为当年...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,数据来源：国家统计局,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df10 = pd.read_excel(file_path+'全国总人口数据.xls',skiprows=2,skipfooter=2)
df10

,指标,2018年,2017年,2016年,2015年,2014年,2013年,2012年,2011年,2010年,2009年
0,年末总人口(万人),139538,139008,138271,137462,136782,136072,135404,134735,134091,133450
1,男性人口(万人),71351,71137,70815,70414,70079,69728,69395,69068,68748,68647
2,女性人口(万人),68187,67871,67456,67048,66703,66344,66009,65667,65343,64803
3,城镇人口(万人),83137,81347,79298,77116,74916,73111,71182,69079,66978,64512
4,乡村人口(万人),56401,57661,58973,60346,61866,62961,64222,65656,67113,68938

In [30]:
df10 = pd.read_excel(file_path+'全国总人口数据.xls',skiprows=2,skipfooter=2, index_col=0)
df10

,2018年,2017年,2016年,2015年,2014年,2013年,2012年,2011年,2010年,2009年
指标,,,,,,,,,,
年末总人口(万人),139538,139008,138271,137462,136782,136072,135404,134735,134091,133450
男性人口(万人),71351,71137,70815,70414,70079,69728,69395,69068,68748,68647
女性人口(万人),68187,67871,67456,67048,66703,66344,66009,65667,65343,64803
城镇人口(万人),83137,81347,79298,77116,74916,73111,71182,69079,66978,64512
乡村人口(万人),56401,57661,58973,60346,61866,62961,64222,65656,67113,68938

In [31]:
df20 = pd.read_excel(file_path+'全国总人口数据.xls', sheet_name='20年数据',skiprows=2,skipfooter=2, index_col=0)
df20

       年末总人口(万人)  男性人口(万人)  女性人口(万人)  城镇人口(万人)  乡村人口(万人)
时间
2018年     139538     71351     68187     83137     56401
2017年     139008     71137     67871     81347     57661
2016年     138271     70815     67456     79298     58973
2015年     137462     70414     67048     77116     60346
2014年     136782     70079     66703     74916     61866
2013年     136072     69728     66344     73111     62961
2012年     135404     69395     66009     71182     64222
2011年     134735     69068     65667     69079     65656
2010年     134091     68748     65343     66978     67113
2009年     133450     68647     64803     64512     68938
2008年     132802     68357     64445     62403     70399
2007年     132129     68048     64081     60633     71496
2006年     131448     67728     63720     58288     73160
2005年     130756     67375     63381     56212     74544
2004年     129988     66976     63012     54283     75705
2003年     129227     66556     62671     52376     76851
2002年     128453     66115     62338     50212     78241
2001年     127627     65672     61955     48064     79563
2000年     126743     65437     61306     45906     80837
1999年     125786     64692     61094     43748     82038

In [15]:
df20 = pd.read_excel(file_path+'全国总人口数据.xls', sheet_name=1,skiprows=2,skipfooter=2, index_col=0)
df20

       年末总人口(万人)  男性人口(万人)  女性人口(万人)  城镇人口(万人)  乡村人口(万人)
时间
2018年     139538     71351     68187     83137     56401
2017年     139008     71137     67871     81347     57661
2016年     138271     70815     67456     79298     58973
2015年     137462     70414     67048     77116     60346
2014年     136782     70079     66703     74916     61866
2013年     136072     69728     66344     73111     62961
2012年     135404     69395     66009     71182     64222
2011年     134735     69068     65667     69079     65656
2010年     134091     68748     65343     66978     67113
2009年     133450     68647     64803     64512     68938
2008年     132802     68357     64445     62403     70399
2007年     132129     68048     64081     60633     71496
2006年     131448     67728     63720     58288     73160
2005年     130756     67375     63381     56212     74544
2004年     129988     66976     63012     54283     75705
2003年     129227     66556     62671     52376     76851
2002年     128453     66115     62338     50212     78241
2001年     127627     65672     61955     48064     79563
2000年     126743     65437     61306     45906     80837
1999年     125786     64692     61094     43748     82038

### 6.1.4 	示例：写入水果数据到Excel文件

In [17]:
data1 = { 'apples': [3, 2, 0, 1],
          'oranges': [0, 1, 2, 3],
          'bananas': [1, 2, 1, 0] }

df1 = pd.DataFrame(data1, index=['June','Robert','Lily','David'])
df1

        apples  oranges  bananas
June         3        0        1
Robert       2        1        2
Lily         0        2        1
David        1        3        0

In [18]:
df1.to_excel(file_path+'水果.xlsx')

In [19]:
df1.to_excel(file_path+'水果.xlsx', index=False)

In [20]:
df1.to_excel(file_path+'水果.xlsx', sheet_name='第1天')

In [21]:
df1.to_excel(file_path+'水果.xlsx', sheet_name='第1天', header=False)

In [22]:
df1.to_excel(file_path+'水果.xlsx', sheet_name='第1天', header=['苹果','桔子','香蕉'])

In [24]:
apples = pd.Series([3,2,0,1], index=['a','b','c','d'])
apples

a    3
b    2
c    0
d    1
dtype: int64

In [25]:
apples.to_excel(file_path+'apples.xlsx')

In [26]:
with pd.ExcelWriter(file_path+'水果.xlsx') as writer:
    df1.to_excel(writer, sheet_name='第1天')
    apples.to_excel(writer, sheet_name='第2天')